

<section class="banner"> 
  <div class="container"> 
    <!-- Premier élément banner-img -->
    <div class="banner-img">
      <div class="glass-hover"></div>
      <a href="#"> </a>
        <img src="assets/images/slide-produits-bio16.jpg" alt="Image 1">
      
    </div>

    <!-- Deuxième élément banner-img -->
    <div class="banner-img">
      <div class="glass-hover"></div>
      <a href="#"> </a>
        <img src="assets/images/slide-produits-bio18.jpg" alt="Image 2">
      
    </div>

   
  </div>
</section>

