<footer>
  <div class="container">
    <div class="big-row">
      <img class="logo-footer" src="assets/images/logoFooter.png">
      <p> ACESS  </p>

      <div class="icons-footer">
        <a href="#" class="me-2"><i class="bi bi-facebook"></i></a>
        <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
        <a href="#" class="me-2"><i class="bi bi-youtube"></i></a>
        <a href="#"> <i class="bi bi-instagram"></i></a>
      </div> 
    </div> 

    <div class="row">
      <h4> Trouvez-le rapidement</h4>

      <div class="links">
        <a href="#"> Couscous </a>
        <a href="#"> Dattese</a>
        <a href="#"> Huile d'olive</a>
        <a href="#"> Épices</a>
        <a href="#"> Confitures artisanales</a>
      </div>
    </div> 

    <div class="row">
      <h4> Liens rapides</h4>

      <div class="links">
        <a href="#"> Couscous traditionnel </a>
        <a href="#"> Produits à base de dattes</a>
        <a href="#"> Huiles et condiments </a>
        <a href="#"> Épices tunisiennes</a>
        <a href="#"> Produits faits maison</a>
      </div>
    </div> 

    <div class="row">
      <h4> Nos services</h4>

      <div class="links">
        <a href="#"> Couscous bio </a>
        <a href="#"> Dattes Deglet Nour</a>
        <a href="#"> Huile d'olive extra vierge </a>
        <a href="#"> Épices authentiques</a>
        <a href="#"> Pâtisseries traditionnelles</a>
      </div>
    </div> 

  </div> 

  <div class="bottom-footer">
   <div class="container">
     <p> &copy; <span> 2025 Red Store. </span> Tous droits réservés </p>
     <div class="paiment-img">
      <img class="img1" src="assets/images/payment-1.png">
      <img class="img2" src="assets/images/payment-2.png">
      <img class="img3" src="assets/images/payment-3.png">
      <img class="img4" src="assets/images/payment-4.png">
     </div>
   </div>

   
  </div>
</footer>


