 <!-- section 1 -->
  <div class="container-xxl py-5"> 
   <div class="container">
    <div class="row g-5 align-items-center">
     <div class="col-lg-6"> 
      <div class="row g-3">

       <div class="col-6 text-start">
        <img class="img-gluid rounded w-100 wow zoomIn" src="assets/images/h5.png" > 
       </div>
       <div class="col-6 text-start">
         <img class="img-gluid rounded w-75 wow zoomIn" src="assets/images/h3.png" style="margin-top: 37%;" > 
       </div>

       <div class="col-6 text-start">
         <img class="img-gluid rounded w-75 wow zoomIn" src="assets/images/h3.png" style="margin-left:25% ;"> 
       </div>

       <div class="col-6 text-start">
        <img class="img-gluid rounded w-100 wow zoomIn" src="assets/images/h5.png" > 
       </div>

      




       
       
       
      </div>
     
     </div>
      <div class="col-lg-6">
        <h3 class="section-title " style="color: #ff4d29 ;"> About Us </h3> 
        <h1 class="mb-4" style="color: black ;"> welcom To <i class="bi bi-clock" style="color: #ff4d29 ;"></i> ACCES</h1>
        <p class="mb-4">Le temps est une ressource précieuse que nous utilisons chaque jour pour accomplir nos objectifs, poursuivre nos rêves et créer des souvenirs inoubliables. Apprendre à gérer efficacement son temps permet de mieux équilibrer vie professionnelle et personnelle, tout en réduisant le stress et en augmentant la satisfaction personnelle.</p>
        <p class="mb-4">Le temps est une ressource précieuse que nous utilisons chaque jour pour accomplir nos objectifs, poursuivre nos rêves et créer des souvenirs inoubliables. Apprendre à gérer efficacement son temps permet de mieux équilibrer vie professionnelle et personnelle, tout en réduisant le stress et en augmentant la satisfaction personnelle.</p>

       </div>
    </div>
   </div>
  </div>

  






   <!-- section 2 -->
  <section>
   <div class="container">
    <div class=""row> 
     <div class="col-lg-12"> 
      <div class="sec-title">
       <p class="sec-sub-title mb-3"> Qui sommes-nous ?</p>
       <h2 class="h2-title"> Découvrez l'histoire 
        <span> de notre ACCES </span></h2> 
       <div class="sec-title-shape mb-4"> 
        <img src="" alt="">
       </div>
       <p>Dans les textes littéraires, un changement de paragraphe indique souvent un changement de lieu, de personnage, de type de narrateur, d'action, de séquence d'énonciation (narration, description, explication, argumentation, dialogue), etc.
        Dans un texte courant, le changement de paragraphe indique la présence d'une nouvelle idée. Ainsi, un paragraphe respecte ce qu'on appelle l'unité de pensée. Habituellement, les paragraphes dans ce genre de texte commencent par un organisateur textuel.
       </p>
      </div>
     </div> 
    </div>
    <div class="row">
     <div class="col-lg-8 m-auto"> 
      <div class="about-video">
       <div class="about-video-img" style="background-image:url(/assets/images/h6.png);">
       </div>
       <div class="play-btn-wp">
        <a href="images/video.mp4" data-foncybox="video" class="play-btn"> 
         
         <i class="bi bi-play-fill"></i>

        </a>
        <span> watch the Recipe </span>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
