<section class="flexCentre container-app">
  <div class="content">
    <div class="container1">
      <h2>Get our app now!</h2>
      <h4>Available for iOS and Android</h4>
      <p>
        Download our app now to enjoy the best experience. Available for both iOS and Android platforms.
      </p>
      <a href="https://www.apple.com/fr/app-store/" class="btn">App Store <i class="bi bi-apple"></i></a>
      <a href="https://play.google.com/store/apps?hl=fr&pli=1" class="btn">Play Store <i class="bi bi-google-play"></i></a>
    </div>
    <div class="imgs">
      <img src="assets/images/phones.png" alt="App Store Icon">
    </div>
  </div>
</section>
