<section class="features">
 <div class="container">
   <div class="feature-item">
     <img src="assets/images/l1.png">
     <div class="text">
       <h4> Free Shipping </h4>
       <p> Free Shipping on All order</p>
     </div>
   </div> 

   <div class="feature-item">
     <img src="assets/images/l1.png">
     <div class="text">
       <h4> Free Shipping </h4>
       <p> Free Shipping on All order</p>
     </div>
   </div>

   <div class="feature-item">
     <img src="assets/images/l1.png">
     <div class="text">
       <h4> Free Shipping </h4>
       <p> Free Shipping on All order</p>
     </div>
   </div>

   <div class="feature-item">
     <img src="assets/images/l1.png">
     <div class="text">
       <h4> Free Shipping </h4>
       <p> Free Shipping on All order</p>
     </div>
   </div>
 </div>
</section>

<section class="banner"> 
  <div class="container"> 
    <!-- Premier élément banner-img -->
    <div class="banner-img">
      <div class="glass-hover"></div>
      <a href="#"> </a>
        <img src="assets/images/produit -soled2.jpg" alt="Image 1">
      
    </div>

    <!-- Deuxième élément banner-img -->
    <div class="banner-img">
      <div class="glass-hover"></div>
      <a href="#"> </a>
        <img src="assets/images/produit -soled3.jpg" alt="Image 2">
      
    </div>

    <!-- Troisième élément banner-img -->
    <div class="banner-img">
      <div class="glass-hover"></div>
      <a href="#"> </a>
        <img src="assets/images/produit -soled4.jpg" alt="Image 3">
      
    </div>
  </div>
</section>
