<div class="item-detail">
 <div class="container">
  <div class="img-item"> 
   <div class="big-img"> 
    <img [src]="mainImage">
   </div>
    
   <div class="sm-imgs"> 
     <img src="assets/images/p2.jpg" (click)="changeMainImage('assets/images/p2.jpg')">
     <img src="assets/images/p3.jpg" (click)="changeMainImage('assets/images/p3.jpg')">
     <img src="assets/images/p4.jpg" (click)="changeMainImage('assets/images/p4.jpg')">
     <img src="assets/images/p5.jpg" (click)="changeMainImage('assets/images/p5.jpg')">
   </div>
  </div> 

  <div class="details-item"> 
    <h1 class="nom"> framework puissant</h1>
    <div class="stars"> 
       <i class="bi bi-star-fill"></i>
       <i class="bi bi-star-fill"></i>
       <i class="bi bi-star-fill"></i>
       <i class="bi bi-star-fill"></i>
       <i class="bi bi-star-fill"></i>
    </div>

    <div class="prix"> 
     <p> <span> 1267 DT </span>  </p>
     <p class="prix-ancien"> 17265 DT </p>
    </div>

    <h5>  La technologie Angular: <span> In un framework </span> </h5>
    <h5>  SCU: <span> isem produit </span> </h5>
    <p class="parg"> La technologie Angular est un framework puissant et populaire pour le développement d’applications web modernes. Grâce à ses nombreuses fonctionnalités, comme les composants réutilisables, les services pour la gestion des données, et un système robuste de liaison des données, </p>
    <h4> framework puissant </h4>

    <button> add to cart <i class="bi bi-cart-plus"></i></button> 

    <div class="icons">
      <span> </span>
      <span> </span>
      <span> </span>
      <span> </span>
    </div>
  </div>
 </div>
</div> 


