<section class="signin sec-form">
  <div class="form-container">
    <p class="title">Welcome back!</p>

    <form class="form" action="">
      <input class="inp" type="text" principal="Name" />
      <input class="inp" type="email" principal="Email" />
      <input class="inp" type="password" principal="password" />
      <input class="inp" type="password" principal="password" />

      <p class="page-link">
        <a href="#" class="label">Forgot Password?</a>
      </p>

      <button class="form-btn">Login</button>
    </form>

    <p class="sing-up-label">
      Don't have an account?
      <a href="#" class="sing-up-link">Sign up</a>
    </p>

    <div class="button-container">
      <div class="apple-login-button">
        <i class="bi bi-apple"></i>
        <span>Sign with Apple</span>
      </div>

      <div class="google-login-button">
        <i class="bi bi-google"></i>
        <span>Sign with Google</span>
      </div>
    </div>
  </div>
</section>

