
  
  
<section class="slider">
  <div class="container">
   <div class="side-bar">
    <h2> <i  class="bi bi-list"></i> shop by derparemet </h2>
      <a href="#"> ALL Categories </a>
      <a href="#"> Best Seller Products </a>
      <a href="#"> New Arrivals</a>
      <a href="#"> Top 10 Offers</a>
      <a href="#"> Phones & Tablet</a>
      <a href="#"> Electonics & digita</a>
      <a href="#"> Feshion & Clothings </a>
      <a href="#"> Watches & Jwewlry </a>
      <a href="#"> TV & Radio</a>
   </div>
<!-- Swiper -->
   <div class="slide-swp mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
       <a href="#"><img src="assets/images/accueil1.jpg"> </a>
      </div>
      <div class="swiper-slide">
       <a href="#"> <img src="assets/images/accueil2.jpg"> </a>
      </div>
      <div class="swiper-slide">
       <a href="#"><img src="assets/images/accueil3.jpg"> </a>
      </div>
      <div class="swiper-slide">
       <a href="#"><img src="assets/images/accueil4.jpg"> </a>
      </div>
      <div class="swiper-slide">
       <a href="#"> <img src="assets/images/accueil5.jpg"> </a>
      </div>
      <div class="swiper-slide">
       <a href="#"> <img src="assets/images/accueil6.jpg"> </a> 
      </div>
      <div class="swiper-slide">
        <a href="#"> <img src="assets/images/accueil7.jpg"> </a>
      </div>
      <div class="swiper-slide">
      <a href="#"> <img src="assets/images/accueil8.jpg"> </a>
      </div>
      <div class="swiper-slide"><a href="#"> 
       <img src="assets/images/accueil3.jpg"> </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>





 </div>
</section>
  
 
 
